<!DOCTYPE html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-700502-18"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-700502-18');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BBS</title>
    <link inline rel="icon" type="image/png" href="favicon.png">
    <% for (const css in htmlWebpackPlugin.files.css) { %>
    <link inline rel="stylesheet" src="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>

</head>
<body>
<script src="auth_token.js"></script>
<% for (const js in htmlWebpackPlugin.files.js) { %>
<script inline type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>

<div id="calcTextWidth">
  1234567890<br/>
  1234567890
</div>

</body>
</html>
