#terminal-container {
  // 800 corrisponde alla larghezza di 80 colonne con fontSize=18
  // (font-height / 1.8) * 80 
  // (font-height + 1) * 32  
  position: relative;

  /*
  width: 80vw;
  height: calc(80vw * 608 / 800);
  transform: translateY(calc((80vw * 608 / 800 - 100vh) / (-2 * 0.8)));
  */

  margin: auto;
}
/* @import url("http://fonts.googleapis.com/css?family=Lato:400,700"); */

/* fix per xterm (nasconde scrollbar) */
.xterm .xterm-viewport {
  overflow-y: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Glass_TTY_VT220';
  font-weight: 700;
  background: #111;
  color: #fff;
}

.screen {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.terminal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

canvas {
  background-color: transparent;
}

.terminal .is-off {
  -webkit-animation: is-off 2s linear infinite !important;
  animation: is-off 2s linear infinite !important;
}
.glitch:before {
  position: absolute;
  z-index: 999999;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: bg-move 2s linear infinite;
  animation: bg-move 2s linear infinite;
  background-size: 100% 8px;
  background-image: -webkit-linear-gradient(0, rgba(255,255,255,0.05) 10%, transparent 10%, transparent 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 60%, transparent 60%, transparent);
  background-image: linear-gradient(0, rgba(255,255,255,0.05) 10%, transparent 10%, transparent 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 60%, transparent 60%, transparent);
}
.glitch .terminal {
  -webkit-transform: skewX(0deg) scaleY(1);
  transform: skewX(0deg) scaleY(1);
  -webkit-animation: terminal-bag 4s linear infinite;
  animation: terminal-bag 4s linear infinite;
}

@-webkit-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@-webkit-keyframes c1 {
  0% {
    clip: rect(67px, 9999px, 71px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 18px, 0);
  }
  10% {
    clip: rect(42px, 9999px, 34px, 0);
  }
  15.000000000000002% {
    clip: rect(80px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(22px, 9999px, 87px, 0);
  }
  30.000000000000004% {
    clip: rect(62px, 9999px, 26px, 0);
  }
  35.00000000000001% {
    clip: rect(61px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(55px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 54px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 44px, 0);
  }
  60.00000000000001% {
    clip: rect(94px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 48px, 0);
  }
  70.00000000000001% {
    clip: rect(35px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(77px, 9999px, 13px, 0);
  }
  80% {
    clip: rect(69px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 11px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 32px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(54px, 9999px, 57px, 0);
  }
}
@keyframes c1 {
  0% {
    clip: rect(67px, 9999px, 71px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 18px, 0);
  }
  10% {
    clip: rect(42px, 9999px, 34px, 0);
  }
  15.000000000000002% {
    clip: rect(80px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(22px, 9999px, 87px, 0);
  }
  30.000000000000004% {
    clip: rect(62px, 9999px, 26px, 0);
  }
  35.00000000000001% {
    clip: rect(61px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(55px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 54px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 44px, 0);
  }
  60.00000000000001% {
    clip: rect(94px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 48px, 0);
  }
  70.00000000000001% {
    clip: rect(35px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(77px, 9999px, 13px, 0);
  }
  80% {
    clip: rect(69px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 11px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 32px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(54px, 9999px, 57px, 0);
  }
}
@-webkit-keyframes c2 {
  0% {
    clip: rect(47px, 9999px, 39px, 0);
  }
  5% {
    clip: rect(58px, 9999px, 1px, 0);
  }
  10% {
    clip: rect(39px, 9999px, 78px, 0);
  }
  15.000000000000002% {
    clip: rect(10px, 9999px, 65px, 0);
  }
  20% {
    clip: rect(37px, 9999px, 5px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 39px, 0);
  }
  30.000000000000004% {
    clip: rect(49px, 9999px, 98px, 0);
  }
  35.00000000000001% {
    clip: rect(55px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(61px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(60px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 77px, 0);
  }
  55% {
    clip: rect(70px, 9999px, 71px, 0);
  }
  60.00000000000001% {
    clip: rect(20px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 1px, 0);
  }
  70.00000000000001% {
    clip: rect(40px, 9999px, 26px, 0);
  }
  75% {
    clip: rect(86px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 53px, 0);
  }
  85% {
    clip: rect(17px, 9999px, 17px, 0);
  }
  90% {
    clip: rect(86px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(95px, 9999px, 74px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 36px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
  }
}
@keyframes c2 {
  0% {
    clip: rect(47px, 9999px, 39px, 0);
  }
  5% {
    clip: rect(58px, 9999px, 1px, 0);
  }
  10% {
    clip: rect(39px, 9999px, 78px, 0);
  }
  15.000000000000002% {
    clip: rect(10px, 9999px, 65px, 0);
  }
  20% {
    clip: rect(37px, 9999px, 5px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 39px, 0);
  }
  30.000000000000004% {
    clip: rect(49px, 9999px, 98px, 0);
  }
  35.00000000000001% {
    clip: rect(55px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(61px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(60px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 77px, 0);
  }
  55% {
    clip: rect(70px, 9999px, 71px, 0);
  }
  60.00000000000001% {
    clip: rect(20px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 1px, 0);
  }
  70.00000000000001% {
    clip: rect(40px, 9999px, 26px, 0);
  }
  75% {
    clip: rect(86px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 53px, 0);
  }
  85% {
    clip: rect(17px, 9999px, 17px, 0);
  }
  90% {
    clip: rect(86px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(95px, 9999px, 74px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 36px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
  }
}
@-webkit-keyframes terminal-bag {
  0% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  2% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  4% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  6% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  8% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  10% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  12% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  14.000000000000002% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  16% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  18% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  20% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  22% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  24% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  26% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  28.000000000000004% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  30% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  32% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  34% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  36% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  38% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  40% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  42% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  44% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  46.00000000000001% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  48% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  52% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  54% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
  }
  56.00000000000001% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  58% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  60% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px);
  }
  62% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  64% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  66% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  68% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  72% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  74% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  76% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  78% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  80% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  82.00000000000001% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  84% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  86% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  88% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  90% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  94% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  96% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  98% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  100% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes terminal-bag {
  0% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  2% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  4% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  6% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  8% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  10% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  12% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  14.000000000000002% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  16% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  18% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  20% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  22% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  24% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  26% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  28.000000000000004% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  30% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  32% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  34% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  36% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  38% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  40% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  42% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  44% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  46.00000000000001% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  48% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  52% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  54% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
  }
  56.00000000000001% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  58% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  60% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px);
  }
  62% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  64% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  66% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  68% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  72% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  74% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  76% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  78% {
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  80% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  82.00000000000001% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  84% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  86% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  88% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  90% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  94% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  96% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  98% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  100% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes tr-bag {
  0% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  2% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  4% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  6% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  8% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  10% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  12% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  14.000000000000002% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  16% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  18% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  20% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  22% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px);
  }
  24% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  26% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px);
  }
  28.000000000000004% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  30% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  32% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  34% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  36% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  38% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  40% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  42% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  44% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  48% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  50% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  52% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  54% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  56.00000000000001% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  58% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  60% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  62% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  64% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  66% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  68% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  72% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  74% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  76% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  78% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  80% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  82.00000000000001% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  84% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  86% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px);
  }
  88% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  90% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  94% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  96% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  98% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  2% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  4% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  6% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  8% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  10% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  12% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  14.000000000000002% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  16% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  18% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  20% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  22% {
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px);
  }
  24% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  26% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px);
  }
  28.000000000000004% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  30% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  32% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  34% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  36% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  38% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  40% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  42% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  44% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  48% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  50% {
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  52% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  54% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  56.00000000000001% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  58% {
    -webkit-transform: translate(1px, 5px);
    transform: translate(1px, 5px);
  }
  60% {
    -webkit-transform: translate(4px, 1px);
    transform: translate(4px, 1px);
  }
  62% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  64% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  66% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  68% {
    -webkit-transform: translate(3px, 4px);
    transform: translate(3px, 4px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  72% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  74% {
    -webkit-transform: translate(3px, 5px);
    transform: translate(3px, 5px);
  }
  76% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  78% {
    -webkit-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
  }
  80% {
    -webkit-transform: translate(4px, 5px);
    transform: translate(4px, 5px);
  }
  82.00000000000001% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  84% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  86% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px);
  }
  88% {
    -webkit-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
  }
  90% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(5px, 3px);
    transform: translate(5px, 3px);
  }
  94% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  96% {
    -webkit-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
  }
  98% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}



/* Testo Start Wars effect */

#boardtitle {
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: yellow;
  border: 2px solid yellow;
}

#board {
  transform: perspective(300px) rotateX(20deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
  cursor: pointer;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#boardcontent {
  animation: boardscroll 20s linear 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  position: absolute;
  top: 100%;
}

#boardtexttitle,
#boardtextsubtitle {
  text-align: center;
}

@keyframes boardscroll {
  0% {
    top: 100%;
  }
  100% {
    top: 60%;
  }
}

